<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Painel do administrador: TCCOn</title>
</head>
<center>
    <h1>Painel do administrador</h1>
    <h2>Cadastrar coordenador de TCC I</h2>

    <form action="/submit" method="post">
        <div class="campo">
        <input type="text" placeholder="Usuário" id="usuario" name="usuario">
        </div>
        
        <div class="campo">
        <button type="submit">Cadastrar</button>
        </div>
    </form>
</center>
</html>