<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login: TCCOn</title>
</head>
<center>
    <h1>TCC Online</h1>
    <h2>Login</h2>

    <form action="/submit" method="post">
        <div class="campo">
        <input type="text" placeholder="Usuário" id="usuario" name="usuario">
        </div>

        <div class="campo">
        <input type="text" placeholder="Senha" id="senha" name="senha">
        </div>

        <div class="campo">
        <button type="submit">Acessar</button>
        </div>
    </form>

    <div class="campo">
        <a href="">Primeiro acesso</a>
    </div>
    
    <div class="campo">
        <a href="">Esqueceu a sua senha?</a>
    </div>
</center>
</html>